---
import Image from "astro/components/Image.astro"
import Museo1 from "../assets/museo1.jpeg"
import Museo2 from "../assets/museo2.jpeg"
import Museo3 from "../assets/museo3.jpeg"
import Museo4 from "../assets/museo4.jpeg"
import Museo5 from "../assets/museo5.jpeg"
import Museo6 from "../assets/museo6.jpeg"
---
<main class="text-claro flex flex-col text-center align-middle justify-center gap-2 p-6 px-16">
  <h2 class="text-5xl mb-20">EXPLORA</h2>
  <div class="relative">
    <button id="scrollLeft" class="absolute left-10 top-1/2 -translate-y-1/2 z-10 bg-oscuro/90 w-16 aspect-square cursor-pointer text-white px-2 py-1 rounded-full opacity-0 transition-opacity" aria-label="Scroll Left">
      &#8592;
    </button>
    <div id="scrollContainer" class="flex flex-row gap-6 overflow-x-auto scrollbar-hide scroll-smooth">
      <Image src={Museo1} alt={"Imagen de stock 1"} class="cursor-pointer w-72 h-96 bg-claro flex-shrink-0 rounded-[7px] object-cover"/>
      <Image src={Museo2} alt={"Imagen de stock 2"} class="cursor-pointer w-72 h-96 bg-claro flex-shrink-0 rounded-[7px] object-cover"/>
      <Image src={Museo3} alt={"Imagen de stock 3"} class="cursor-pointer w-72 h-96 bg-claro flex-shrink-0 rounded-[7px] object-cover"/>
      <Image src={Museo4} alt={"Imagen de stock 4"} class="cursor-pointer w-72 h-96 bg-claro flex-shrink-0 rounded-[7px] object-cover"/>
      <Image src={Museo5} alt={"Imagen de stock 5"} class="cursor-pointer w-72 h-96 bg-claro flex-shrink-0 rounded-[7px] object-cover"/>
      <Image src={Museo6} alt={"Imagen de stock 6"} class="cursor-pointer w-72 h-96 bg-claro flex-shrink-0 rounded-[7px] object-cover"/>
    </div>
    <button id="scrollRight" class="absolute right-10 top-1/2 -translate-y-1/2 z-10 bg-oscuro/90 text-white px-2 py-1 rounded-full opacity-0 transition-opacity w-16 aspect-square cursor-pointer" aria-label="Scroll Right">
      &#8594;
    </button>
  </div>
  <script type="module">
    const container = document.getElementById('scrollContainer');
    const leftBtn = document.getElementById('scrollLeft');
    const rightBtn = document.getElementById('scrollRight');

    function updateButtons() {
      if (!container) return;
      leftBtn.style.opacity = container.scrollLeft > 0 ? '1' : '0';
      rightBtn.style.opacity = (container.scrollLeft + container.clientWidth < container.scrollWidth) ? '1' : '0';
    }

    leftBtn.addEventListener('click', () => {
      container.scrollBy({ left: -container.clientWidth / 1.5, behavior: 'smooth' });
    });
    rightBtn.addEventListener('click', () => {
      container.scrollBy({ left: container.clientWidth / 1.5, behavior: 'smooth' });
    });
    container.addEventListener('scroll', updateButtons);
    window.addEventListener('resize', updateButtons);
    window.addEventListener('DOMContentLoaded', updateButtons);
  </script>
</main>